<!-- Lets talk about geddy -->
<div id="carpi-list-container"></div>

<%- scriptLink('elm/root_module/elm.js', {type:'text/javascript'}) %>

<script src="/socket.io/socket.io.js"></script>
<script>
  var container = document.getElementById('carpi-list-container');
  var elmApp = Elm.embed(Elm.CarPiList, container, { cars: []})

  var socket = io.connect('http://localhost:4000');
  socket.on('cars-list', function (carsList) {
    elmApp.ports.cars.send(carsList)
  });
  // 
  // socket.on('car-status', function (name, status) {
  //   console.log(name + ':' + status)
  // });


</script>
