<%= partial('layout_header'); %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer"></div>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">CarPi Web</span>
    <nav class="mdl-navigation">
      <div id="carpi-list-container">
        <%- linkTo('Home', carpiListsPath, {class: 'mdl-navigation__link'}) %>
      </div>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <%- render(); %>
    </div>
  </main>
</div>

<%= partial('layout_footer'); %>
